<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <nav>
        <div class="logo-div">
            <p id="title">Book Notes</p>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/new">Add New</a>
        </div>
    </nav>
</body>
</html>